<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="display-4">Angular routing demo app.</p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos ex itaque ab asperiores ratione commodi! Fuga quibusdam, earum at inventore ad mollitia fugiat possimus, deserunt sed hic alias, similique maiores assumenda! Sapiente, magni. Harum possimus laborum alias impedit dignissimos, deleniti quasi quisquam beatae ipsam dolore dolor deserunt perspiciatis eveniet exercitationem excepturi consequatur quos provident at totam tenetur nesciunt eaque accusamus nemo. Ratione minima dignissimos dolorem sint temporibus sit ut dolorum quisquam tenetur, eveniet, ipsum hic distinctio delectus. Maiores quam vero neque cum, dolorem nesciunt dolore dolor quasi laudantium, reiciendis a, autem temporibus inventore optio dignissimos rerum placeat! Quisquam, cum sequi.
            </p>
        </div>
    </div>
</div>